
body{
    background: rgb(192, 192, 192);
}
a:link{
    text-decoration: none;
}
#content{
    width: 80%;
    min-width: 750px;
    /*max-width: 660px;*/
    margin: auto;
    padding: 5px;
    background: rgb(250,250,250);
    border-radius: 0.25rem
}
#top{
    display: flex;
    flex-direction: row;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 20%;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 0.5rem;
    background: #FFF;
    /* padding-left: 10px; */
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card > a{
    display: flex;
}
.card > a > p{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 25px;
    width: 45px;
}
img{
    margin: auto;
    padding: 2px;
}
img#chartIcon, img#reportIcon{
    height:40%;
    width: 40%;
    max-height: 50px;
    max-width: 50px;
}
img#mapIcon{
    height:45%;
    width: 45%;
    max-height: 55px;
    max-width: 55px;
}
hr{
    margin: 0px 10px 0px 10px;
}
.rounded{
    border-radius: 5px;
}
.headerTitle{
    flex-grow:1;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
}
td{
    margin: auto;
    text-align: center; 
}
table{
    width: 100%;

}