
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map { 
    /* adjust width and height here to alter size of map
    or perhaps just place it into the proper grid-template-areas */
    height: 300px;
    width: 300px;
    /*float: right;*/
    margin: 10px;
    border-radius: 0.5rem;
}
#map2{   
    height: 300px;
    width: 300px;
    margin: 10px;
    border-radius: 0.5rem;

}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#bottom{
    display: flex;
    flex-direction: row;
}
#form{
    margin-left: auto;
    margin-right: auto;
}
#content{
    display: flex;
    flex-direction: column;
}
.hidden{
    display: none;
    visibility: hidden;
}