#map, #map2 { 
    margin: 10px;
    border-radius: 0.5rem;
    min-width: 300px;
    height: auto;
    max-width: 800px;
    flex-basis: auto;
    flex-grow: 1;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#bottom{
    display: flex;
    flex-direction: row;
}
#form{
    margin-left: auto;
    margin-right: auto;
}
#content{
    display: flex;
    flex-direction: column;
}
.hidden{
    display: none;
}
fieldset{
    padding: 20px;
    border-radius: 0.5rem;
}
.subItem{
    margin-left: 20px;
}
.toggle{
    height: 20px;
    width: 42px;
    background: lightgray;
    border-radius: 2px;
    padding: 2px;
    float: right;

}
.slider{
    height: 20px;
    width: 20px;
    background: red;
    border-radius: 2px;
    transition: all 300ms linear;
}
.slid{
    transform: translateX(22px);
    background: green; 
}
.subGroup{
    padding-top: 5px;
    width:100%;
}
#fromDate, #toDate{
    float:right;
}
#customizePanel{
    min-width: 235px;
    margin: 10px;
}
#formSubmit{
    width: 100%;
    /* height: 50px; */
    cursor: pointer;
}
.missingInfo{
    color: red;
}
#tableInteraction{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
tr:nth-child(2n) {
    background: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
}
table { 
    border-collapse: collapse;
    table-layout: fixed;
}
td{
    padding: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    /* white-space:nowrap; */
    /* word-wrap: break-word; */
}
td:nth-child(1), th:nth-child(1){
    max-width: 25px;
    width: 25px;
}
td:nth-child(2), th:nth-child(2), 
td:nth-child(3), th:nth-child(3), 
td:last-child,   th:last-child{
    max-width: 100px;
    width: 100px;
}