#bottom{
    width: 100%;
}
#form{
    margin-left: auto;
    margin-right: auto;
}
.subItem{
    margin-left: 20px;
}
.subGroup{
    padding-top: 5px;
    width:100%;
}
#fromDate, #toDate{
    float:right;
}
#customizePanel{
    min-width: 235px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
#submitBtn{
    width: 200px;
    margin: auto;
    cursor: pointer;
}
#dataFieldset{
    margin: auto;
    min-width: 350px;
    padding: 20px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
}
#formSplitter{
    display: flex;
    flex-direction: row;
}
#formLeft{
    width: 70%;
}
.missingInfo{
    color: red;
}
.hidden{
    display: none;
}